In [1]:
#Dune: Part One [8.0/10][8.1]
import pandas as pd
movie = pd.read_csv(r"C:\Users\Lokesh Patra\Downloads\Documents\UsRate1.csv")
movie

   Rating  No. Of Voters
0       1            1.4
1       2            0.7
2       3            0.8
3       4            1.3
4       5            2.6
5       6            6.0
6       7           15.2
7       8           28.0
8       9           24.9
9      10           19.3

In [2]:
#Converting attributes into lists.
rating_list = movie["Rating"].tolist()
print(rating_list)
voter_list = movie["No. Of Voters"].tolist()
print(voter_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1.4, 0.7, 0.8, 1.3, 2.6, 6.0, 15.2, 28.0, 24.9, 19.3]

In [3]:
#a)
sum_rating = sum(rating_list[i] * voter_list[i]
for i in range(len(rating_list)))
print(sum_rating)

freq = (movie['No. Of Voters']).sum() 
print(freq)

mean = sum_rating / freq
print("Mean =", mean)

806.9
100.2
Mean = 8.052894211576845

In [4]:
voter_list.sort()
print(voter_list)

if len(voter_list)%2 == 0:
    print("Even no. of elements!")
    print("To find the middle two elements & taking their average to get the median:")

else:
    print("Odd no. of elements!")
    print("To find middle element to get median.")

leng = len(voter_list) 

if len(voter_list)%2 == 0:
    index1_val = voter_list[int(leng / 2)]
    index2_val = voter_list[int(leng / 2) + 1]
    median = (index1_val + index2_val) / 2 - 2
else:
    median = [voter_list[int(leng / 2)]]
print(f'Median = {median}')

[0.7, 0.8, 1.3, 1.4, 2.6, 6.0, 15.2, 19.3, 24.9, 28.0]
Even no. of elements!
To find the middle two elements & taking their average to get the median:
Median = 8.6

In [5]:
#b) So comparing the mean and median of Dune: Part One, the arithematic mean value seems closer to the actual IMDB rating.

In [6]:
#c)
#Drishyam(2015) [8.2/10] [8.4]
movie1 = pd.read_csv(r"C:\Users\Lokesh Patra\Downloads\Documents\UsRate2.csv")
movie1

   Rating  No. Of Voters
0       1            3.5
1       2            0.7
2       3            0.6
3       4            0.8
4       5            1.7
5       6            3.2
6       7            9.2
7       8           21.8
8       9           26.0
9      10           32.5

In [7]:
rating_list1 = movie1["Rating"].tolist()
print(rating_list1)
voter_list1 = movie1["No. Of Voters"].tolist()
print(voter_list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[3.5, 0.7, 0.6, 0.8, 1.7, 3.2, 9.2, 21.8, 26.0, 32.5]

In [8]:
sum_rating1 = sum(rating_list1[i] * voter_list1[i]
for i in range(len(rating_list1)))
print(sum_rating1)

freq1 = (movie1['No. Of Voters']).sum() 
print(freq1)

mean1 = sum_rating1 / freq1
print("Mean =", mean1)

835.4
100.0
Mean = 8.354

In [9]:
voter_list1.sort()
print(voter_list1)

if len(voter_list1)%2 == 0:
    print("Even no. of elements!")
    print("To find the middle two elements & taking their average to get the median:")

else:
    print("Odd no. of elements!")
    print("To find middle element to get median.")

leng1 = len(voter_list1) 

if len(voter_list1)%2 == 0:
    index1_val = voter_list1[int(leng1 / 2)]
    index2_val = voter_list[int(leng1 / 2) + 1]
    median1 = (index1_val + index2_val) / 2 - 2
else:
    median1 = [voter_list1[int(leng1 / 2)]]
print(f'Median = {median1}')

[0.6, 0.7, 0.8, 1.7, 3.2, 3.5, 9.2, 21.8, 26.0, 32.5]
Even no. of elements!
To find the middle two elements & taking their average to get the median:
Median = 7.35

In [12]:
import numpy as np
# Calculate the standard deviation
std_dev = np.std(voter_list1)
print(f"Standard Deviation: {std_dev}")

# Calculate the interquartile range (IQR)
q1 = np.percentile(voter_list1, 25)
q3 = np.percentile(voter_list1, 75)
iqr = q3 - q1
print(f"IQR: {iqr}")

Standard Deviation: 11.484772527133483
IQR: 17.625

In [13]:
#Drishyam(2013) [8.3/10] [8.4]
movie2 = pd.read_csv(r"C:\Users\Lokesh Patra\Downloads\Documents\UsRate3.csv")
movie2

   Rating  No. Of Voters
0       1            5.9
1       2            0.6
2       3            0.6
3       4            0.7
4       5            1.2
5       6            2.3
6       7            5.8
7       8           16.7
8       9           25.6
9      10           40.5

In [14]:
rating_list2 = movie2["Rating"].tolist()
print(rating_list2)
voter_list2 = movie2["No. Of Voters"].tolist()
print(voter_list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[5.9, 0.6, 0.6, 0.7, 1.2, 2.3, 5.8, 16.7, 25.6, 40.5]

In [15]:
sum_rating2 = sum(rating_list2[i] * voter_list2[i]
for i in range(len(rating_list2)))
print(sum_rating2)

freq2 = (movie2['No. Of Voters']).sum() 
print(freq2)

mean2 = sum_rating2 / freq1
print("Mean =", mean2)

841.1
99.9
Mean = 8.411

In [16]:
voter_list2.sort()
print(voter_list2)

if len(voter_list2)%2 == 0:
    print("Even no. of elements!")
    print("To find the middle two elements & taking their average to get the median:")

else:
    print("Odd no. of elements!")
    print("To find middle element to get median.")

leng2 = len(voter_list2) 

if len(voter_list2)%2 == 0:
    index1_val = voter_list2[int(leng2 / 2)]
    index2_val = voter_list2[int(leng2 / 2) + 1]
    median2 = (index1_val + index2_val) / 2
else:
    median2 = [voter_list2[int(leng2 / 2)]]
print(f'Median = {median2}')

[0.6, 0.6, 0.7, 1.2, 2.3, 5.8, 5.9, 16.7, 25.6, 40.5]
Even no. of elements!
To find the middle two elements & taking their average to get the median:
Median = 5.85

In [17]:
# Calculate the standard deviation
std_dev = np.std(voter_list2)
print(f"Standard Deviation: {std_dev}")

# Calculate the interquartile range (IQR)
q1 = np.percentile(voter_list2, 25)
q3 = np.percentile(voter_list2, 75)
iqr = q3 - q1
print(f"IQR: {iqr}")

Standard Deviation: 12.85647307779237
IQR: 13.175

In [ ]:
#Drishyam(2013) has higher mean value than its bollywood remake[Drishyam(2015)], as 8.41 is 0.05 points closer to 8.4 base mean.
//Light